/jsp/新建文件夹/WebApplication4/nbproject/private/
/jsp/新建文件夹/WebApplication4/build/
/jsp/新建文件夹/WebApplication4/dist/
/jsp/jspTest/jspWebApplication1/nbproject/private/
/jsp/jspTest/jspWebApplication1/build/
/jsp/jspTest/jspWebApplication1/dist/