<?xml version="1.0" encoding="utf-8"  ?>
<web-app>
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>moon.sun.Example6_1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/lookHello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lookPic</servlet-name>
        <servlet-class>moon.sun.Example6_2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lookPic</servlet-name>
        <url-pattern>/lookPic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>computeBill</servlet-name>
        <servlet-class>moon.sun.Example6_3_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>computeBill</servlet-name>
        <url-pattern>/computeBill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>circle</servlet-name>
        <servlet-class>moon.sun.Example6_4_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>circle</servlet-name>
        <url-pattern>/circle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>computePI</servlet-name>
        <servlet-class>moon.sun.Example6_5_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>computePI</servlet-name>
        <url-pattern>/computePI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sumORproduct</servlet-name>
        <servlet-class>moon.sun.Example6_6_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sumORproduct</servlet-name>
        <url-pattern>/sumORproduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>handleForward</servlet-name>
        <servlet-class>moon.sun.Example6_7_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handleForward</servlet-name>
        <url-pattern>/handleForward</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sort</servlet-name>
        <servlet-class>moon.sun.Example6_7_Servlet_Sort</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sort</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping >
    <servlet>
        <servlet-name>sum</servlet-name>
        <servlet-class>moon.sun.Example6_7_Servlet_Sum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sum</servlet-name>
        <url-pattern>/sum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>guess</servlet-name>
        <servlet-class>moon.sun.Example6_8_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>guess</servlet-name>
        <url-pattern>/guess</url-pattern>
    </servlet-mapping>
</web-app>
